table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 2%;
  margin-left: 2%;
}
.blueButton {
  border-radius: 10px;
  background:#FECF47;
  border-radius: 10x;
  color: white;
  margin-right: 30px;
  font-size: 15px;
  padding: 5px 10px;
}
.blueButton:hover{
  background:#FECF47;
  color:white;
  font-size: 20px;
  padding: auto;
  margin-right: 20px;
}
.importer {
  color: #ffa600;
}
.borderBottom {
  border-bottom: 1px solid #dee2e6;
}
.fullheight {
  height: 100%;
}
