mat-card {
  max-width:700px;
  height: 500px;
  justify-self: center;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color:rgba(254, 207, 71, 0.7) ;
 box-shadow:  10px 5px 5px black;
 border-radius: 20px;

}
input{
  height: 40px;
  font-size:20px;
  padding-left: 10px;
}
mat-form-field {

 margin-top: 20px;
  color: white;
  display: block;
  font-size: 20px;

}

mat-card-content{
  margin-top: 20px;
  padding: 20px;
  padding-top: 50px;
  width: 70%;
}
span{
  font-size: 30px;
}
.loginButton{
  border-radius: 10px;
  background:#FECF47;
  border-radius: 10x;
  color: rgb(139, 85, 23);
  margin-right: 30px;
  font-size: 15px;
  padding: 5px 10px;
}
.loginButton:hover{
  background:#ffc400;
  color:rgb(95, 55, 9);
  font-size: 20px;
  padding: auto;
  margin-right: 20px;
}
